<%- include('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col">
      <p>Set</p>
      <div class="one-bit-mem-cell-input color-box" id="set"></div>
    </div>
    <div class="col">
      <p>Output</p>
      <div class="color-box" id="one-bit-mem-cell-output"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Enable</p>
      <div class="one-bit-mem-cell-input color-box" id="enable"></div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/index.js" charset="utf-8"></script>
<!-- <script src="/js/updateOneBitMemCell.js" charset="utf-8"></script> -->

<%- include('partials/footer') %>
