/* div {
    outline: 1px solid red !important;
} */

.color-box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
  }
  .one-bit-mem-cell-input {
    cursor: pointer;
  }
  .bitbox {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-bit {
    cursor: pointer;
  }
  .label-col {
    display: flex;
    justify-content: right; 
  }
  .bitbox-label {
    margin-left: 25px;
    margin-right: 10px;
  }
  .ram-register {
    display: grid;
    border: 5px solid black;
    background-color: lightskyblue;
    height: 100px;
    width: 180px;
    place-items: center;
    /* justify-content: center; */
  }